.lights-out {
    &__row {
        list-style: none;
    }

    &__btn {
        width: 30px;
        height: 30px;
        margin: 0 4px 4px 0;
        border-color: transparent;
        outline: 0;

        background-color: grey;

        &--lit {
            background-color: green;
        }
    }
}